*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif0;
    background-color:rgba(53, 4, 4, 0.933);
}

.titulo{
    background-color: #cfcdcc;
    color:#80051e;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}

.title{
    font-size: 30px;
    margin:15px;
    color:rgb(235, 224, 224);
    text-align: center;
}

.img{
    max-width: 100%;
    width: 60%;
}

.infor{
    color:rgb(235, 224, 224);
    margin: 10px;
}

